.village_life.not_implemented
  picture giving impression of village life goes above content (and maybe tabs)
.two_columns
  .column
    .teaser.teaser_question
      %h2 Is Atamai Village for You?
      %p
        Atamai Village is a special place where the sense of community, and our relationship with natural systems,
        is at least as important as the quality of the individual homes. It is not just another subdivision with a
        fancy name. We believe villages like Atamai will be the settlements of the future.   But everyone may not be
        ready for the transition to this new way of traditional living just yet.
        Are you ready?

      %h3 Do consider Atamai Village if...

      %ul
        %li
          You are already convinced that climate change is now impacting how we live and you realize the importance
          of preparing for these changes, especially regarding food security
        %li
          Your are aware not only that peak oil is already here, but you also realize the profound implications for
          how our industrial civilization will be affected, as well as our economy
      = link_to "Read More", '#'

    .teaser
      <iframe src="http://player.vimeo.com/video/40744512?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

  .column
    .teaser.map_teaser
      %h2 Permaculture designed for resilience
      %p
        Explore our full site design and important village features on
        = link_to("the Atamai Village map", '/the-village', :class => 'read_more') + '.'
      .popover-wrapper
        = image_tag 'illustrations/map_example.png', :class => 'map'
        .popover.left
          .arrow
          .inner
            %h2.title Orchard Terraces
            .content
              %p
                524 fruit trees, 120 support trees, understory plantings, swales, access paths & irrigation. Now 5 years old and already productive.
                = link_to "Read More", '/the-village?selected_item=orchard', :class => "read_more"

    .teaser
      %h2 Sections for sale
      %p
        We have sections ready for sale, beautiful common lands, and also some options for rentals, jobs and business opportunities.
        = link_to "Read More", '#', :class => "read_more"
      = image_tag 'illustrations/pond_and_site_16.jpg', :class => 'illustration', :size => '136x100'
      = image_tag 'illustrations/site_9.jpg', :class => 'illustration', :size => '136x100'
      = image_tag 'illustrations/north_east_from_site_10.jpg', :class => 'illustration', :size => '136x100'

    .teaser
      %h2 Motueka, New Zealand
      = image_tag 'illustrations/motueka_river_valley.jpg', :class => 'illustration right', :title => "Motueka River by flickr user freakalad", :alt => "Motueka River by flickr user freakalad"
      %p
        While being a popular and beautiful tourist destination, Motueka, in Tasman Bay NZ, has the opportunity to be a genuinely resilient local community,
        with many features which will help ensure ongoing food, health and quality of life even in the face of fairly dramatic changes in our climate or
        society.
        = link_to "More about Motueka", '#', :class => "read_more"

.not_implemented.where_next>
  .inner
    %h3 Where to next?
    %p
      Some links go here in case you totally failed to navigate somewhere from all the above options.