- content_for :hero do
  %p.vision
    Our Vision: "Living well, sustainably, together"
  .hero_main_text
    %p.about_teaser      
      Atamai Village is designed to provide a enduring community for at least 200 people. Villagers
      will live in privately owned homes, and enjoy the benefits of a large common area
      jointly managed to enhance physical and social resilience.
      = link_to "What is Atamai?", "/about", :class => 'read_more'
    
    %p.driving_forces
      Atamai is specifically designed to deal with the impacts of climate change, energy descent and the
      economic and social challenges that are likely to follow.
      = link_to "Why build a village?", "/rationale", :class => 'read_more'

#home
  .two_columns
    .column
      .teaser.teaser_question
        %h2 Is Atamai Village for You?
        %p.larger
          Atamai Village is a special place where the sense of community, and our relationship with natural systems, 
          is at least as important as the quality of the individual homes. It is not just another subdivision with a 
          fancy name. 

        = image_tag 'picnic.jpg', :class => 'illustration left'
        %p
          We believe villages like Atamai will be the settlements of the future. But everyone may not be ready for 
          the transition to this new way of traditional living just yet.
        
        %p
          %strong Are you ready? 

        %p
          Deciding to be part of Atamai Village is a major decision and should only be made after careful consideration 
          and, importantly, a visit. To help determine whether Atamai Village might be a good fit for your family, we 
          suggest you discuss the following issues with all family members.       

        %p
          = link_to "Use our checklist to see if Atamai is a good fit for your family", '/about/is-atamai-village-for-you', :class => 'checklist_link'

    .column
      .teaser.map_teaser
        %h2 Permaculture designed for resilience
        
        %p
          The entire village, as well as individual house sites, are designed on permaculture principles to enhance 
          both the physical and social resilience of the Atamai community.
        %p
          Atamai will have a residential area, a food production area, a forestry area and recreational areas.
          = link_to("the Atamai Village map", '/locations', :class => 'read_more') + '.'

        = image_tag 'map_teaser.png', :class => 'illustration'

      .teaser
        %h2 Sections now for sale
        %p
          We have sections ready for sale and developed common lands available for use by residents.
          = link_to "Read More", '/properties', :class => "read_more"
        - Refinery::Properties::Property.saleable_order.limit(3).each do |property|
          - if property.first_image
            %a{:href => '/properties', :class => 'section_image illustration'}
              = image_tag(property.first_image.thumbnail('134x100!').url, :class => 'illustration', :size => '134x100')

  .two_columns
    .column
      .teaser.movie_teaser
        <iframe src="http://player.vimeo.com/video/40744512?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      
    .column
      .teaser.location_teaser
        %h2 Motueka, New Zealand
        = image_tag 'illustrations/motueka_river_valley.jpg', :class => 'illustration right', :title => "Motueka River by flickr user freakalad", :alt => "Motueka River by flickr user freakalad"
        %p
          Atamai is within biking distance of Motueka, on the top of NZ's South Island, and less and an hour's drive from Nelson and Richmond.  The area enjoys a
          temperate climate with annual rainfall of approximately 1000mm.  Motueka is a coastal town within
          Tasman Bay and is surrounded by two national parks.
          = link_to "More about Motueka", '/about/motueka-new-zealand', :class => "read_more"

